{% extends "base.html" %}
{% load static %}
{% block class %}class="sub_page"{% endblock class%}
{% block status %}active{% endblock status %}
{% block main %}
<section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src=" {% static 'images/404658.jpg' %} " alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Cakerry
              </h2>
            </div>
            <p>
              {% for i in data %}
              {{i.Description}}
              {% endfor %}
            </p>
            <a href="{% url "Book_Cake" %}">
              Book Your Table
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}