{% extends "base.html" %}
{% block class %}class="sub_page"{% endblock class%}

{% load static %}
{% block main %}
<section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Register
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="{% url "Register" %}" method='POST'>{% csrf_token %}
              {{form}}
              <div class="btn_box">
                <button type="submit">
                  Get started
                </button>
              </div>
              <p>Have an account?<a href='{% url 'login'%}'>Login Here</a></p>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div >
                <img src=" {% static 'images/th.jpeg' %} " alt="" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock main %}

  